.taskList {
  width: 100%;
  min-width: 480px;
  min-height: 400px;
  /* background-color: silver; */
  margin: 20px 0 0 0;
  padding: 20px 0 0 0;
  color: purple;
}

.task {
  text-align: left;
  margin: 0 1em 0.5em 1em ;
  background-color: silver;
  color: #ffffff;
  padding: 20px;
  border-radius: 5px;
}

.buttonRemove{
  position: relative;
  top: 0;
  right: 0;
  margin: 1em;
  width: 1.5em;
  height: 1.5em;
  background-color: red;
  color: #ffffff;
  border: none;
  cursor: pointer;
  border-radius: 50%;
}

.buttonRemove:hover{
  box-shadow: 0.3em 0.3em 0.5em gray;
}